In [1]:
import pandas as pd

In [2]:
df = pd.read_json('sentimental_classification_data.json')

In [4]:
df.head()

                                        Opinion Unit  Classification
0   Anything less then a 4 Star Review is insane!!!.             2.0
1  Honestly I'm seeing such low reviews for this ...             0.0
2     Maybe expectations are a little high lol......             0.0
3  I received my 3 Echo Dot devices for the Black...             2.0
4  Installation was incredibly easy, pairing echo...             1.0

In [5]:
df_cleaned = df[:3013]

In [6]:
df_cleaned.head()

                                        Opinion Unit  Classification
0   Anything less then a 4 Star Review is insane!!!.             2.0
1  Honestly I'm seeing such low reviews for this ...             0.0
2     Maybe expectations are a little high lol......             0.0
3  I received my 3 Echo Dot devices for the Black...             2.0
4  Installation was incredibly easy, pairing echo...             1.0

In [7]:
df_cleaned.tail()

                                           Opinion Unit  Classification
3008  Seeing as it's connected to the internet, it's...             4.0
3009  Sometimes it'll also offer to open wikihow for...             4.0
3010  I knew when I purchased it that the technology...             0.0
3011     but it is impressive how much it's able to do.             0.0
3012  I just wish it could do some of the more basic...             4.0

In [10]:
df_cleaned.Classification.isnull().sum()

0

In [13]:
df_cleaned.Classification.value_counts()

0.0    1439
4.0     504
2.0     474
1.0     212
6.0     174
5.0     116
3.0      94
Name: Classification, dtype: int64

In [19]:
df_cleaned.to_json('cleaned_data.json', orient="records")

In [20]:
pd.read_json('cleaned_data.json').head()

                                        Opinion Unit  Classification
0   Anything less then a 4 Star Review is insane!!!.               2
1  Honestly I'm seeing such low reviews for this ...               0
2     Maybe expectations are a little high lol......               0
3  I received my 3 Echo Dot devices for the Black...               2
4  Installation was incredibly easy, pairing echo...               1