In [1]:
import pandas as pd

In [2]:
df = pd.read_json('sentimental_classification_data.json')

In [3]:
df.head(n=15)

                                         Opinion Unit  Classification
0    Anything less then a 4 Star Review is insane!!!.             2.0
1   Honestly I'm seeing such low reviews for this ...             0.0
2      Maybe expectations are a little high lol......             0.0
3   I received my 3 Echo Dot devices for the Black...             2.0
4   Installation was incredibly easy, pairing echo...             1.0
5   If your in doubt honestly you will not regret ...             5.0
6                     The packaging is even gorgeous.             2.0
7                                     Sound is great.             2.0
8               I have two on my main floor living...             1.0
9   Ask Alexa to set volume to 4 or 5 and your roc...             0.0
10  I've been a heavy smart phone user for years, ...             6.0
11                             but Alexa.... amazing!             6.0
12  Feels like part of the family lol... All jokes...             5.0
13          Good introduction to our robot overlords.             0.0
14  Decent sound for something the size of a hocke...             2.0

In [4]:
df.Classification.value_counts()

0.0    1439
4.0     505
2.0     474
1.0     212
6.0     174
5.0     116
3.0      94
Name: Classification, dtype: int64

In [5]:
df.tail()

                                Opinion Unit  Classification
23252                         awesome device             NaN
23253  Great entertainment for a good price.             NaN
23254                     So much fun to use             NaN
23255                       Love this thing.             NaN
23256                            Works great             NaN

In [6]:
df.shape

(23257, 2)

In [18]:
#last labeled datapoint

df.iloc[3013]

Opinion Unit      When it disconnects from them, it's unable to ...
Classification                                                    4
Name: 3013, dtype: object